body {
  background-color: #85ca57;
}

.stopwatchContainer {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%), translateY(-50%);
  text-align: center;
  background-color: #ddd;
  border: 1px solid 999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;
}

.info {
  font-size: 50px;
}
